{% extends 'base.html' %}
{% comment %} 우선순위 짱 높음 {% endcomment %}

{% block contents %}
<body>
    <section class="ls section_padding_top_75 section_padding_bottom_75">
        <div class='container'>
            <div class="card mt-5 text-center">
                    <div class="card-body">
                        <h1>SIGN UP</h1>
                        <form method = "POST" action="{% url 'signup' %}">{% csrf_token %}
                            <h6 class="card-text">
                            Username:<br>
                            <input name="username" type= "text" value=""></h6>
                            <h6 class="card-text mb-2">
                            Password:<br>
                            <input name="password1" type="password" value="">
                            </h6>
                            <h6 class="card-text">
                            Confirm Password:<br>
                            <input name="password2" type="password" value=""></h6>
                            <input class="btn btn-primary .submit-login" type="submit" value="SIGN UP">
                        </form>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
{% endblock  %}
